/*MAIN*/
* {
  box-sizing: border-box;
}

:root {
  --color-primary: #08a6e4;
  --color-primary-shadow: rgba(7, 172, 230, 0.16);
  --color-redish: #fb3b64;
  --color-green: #55dfb4;
  --color-grey: #a5a5a5;
  --color-light-grey: #f7f7f7;
  --font-open-sans: "Open Sans";
}

body {
  font-family: var(--font-open-sans);
}

a {
  text-decoration: none;
}
.container {
  width: 1352px;
  margin: 0 auto;
}

/*NAV*/
.nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 6px #00000029;
}

.logo {
  color: var(--color-primary);
  font: normal normal 300 32px/37px Raleway;
  margin-left: 136px;
}
.menu {
  display: flex;
  font: normal normal bold 11px/15px Open Sans;
  letter-spacing: 3.28px;
  color: var(--color-grey);
  margin-right: 136px;
  gap: 70px;
  padding: 12px;
  align-items: center;
  justify-content: center;
}
.menu li {
  display: flex;
  align-items: center;
  padding: 12px;
  height: 70px;
}

.menu li:hover {
  color: black;
  border-bottom: 4px solid var(--color-primary);
}

/*BANNER*/
.banner {
  display: flex;
  flex-direction: column;
  height: 830px;
  width: 1352px;
  background-image: url(../assets/Background.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  margin: 0px;
}

.banner h1 {
  font-size: 49px;
  font-family: Raleway;
  text-align: center;
  margin-top: 100px;
}

.banner p,
a {
  font-size: 16px;
  text-align: center;
  margin-top: 50px;
}

.banner p {
  margin-bottom: 25px;
}

.button {
  color: white;
  background-color: var(--color-primary);
  padding: 22px 160px;
  border-radius: 40px;
}

.first-button {
  box-shadow: 5px 10px 14px #07ace629;
}

/*GREAT WE ARE*/
.great-we-are {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  gap: 100px;
}

.great-we-are h2 {
  font-size: 36px;
  font-family: Raleway;
}

.counters {
  display: flex;
  justify-content: center;
  align-items: baseline;
  max-width: 175px;
  gap: 170px;
}

.statistic {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.statistic img {
  position: relative;
  max-height: 50px;
  max-width: 65px;
  left: 40px;
  }

.first-img::before {
  content: "";
  background-color: red;
  height: 65px;
  width: 65px;
  border-radius: 50%;
} /* -----------------------------CHYBA-----------------*/


.statistic h3 {
  font-weight: 800;
  font-size: 20px;
  font-family: Raleway;
  letter-spacing: 6px;
}

.statistic p {
  font-size: 16px;
  font-family: Raleway;
  color: var(--color-grey);
}

